<div class="msm-home">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="row">
						<div class="col-md-4">
							<i 
								class="fa fa-fire" 
								style="font-size:144px;" 
								aria-hidden="true">
							</i>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12">
									<span class="hotColdHeader">
										Comforting Warmth
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<span class="hotColdBody">
										Enjoy warm, comfortable and consistant heat throughout your home...
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-4">
							<i 
								class="fa fa-snowflake-o" 
								style="font-size:144px;" 
								aria-hidden="true">
							</i>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12">
									<span class="hotColdHeader">
										Refreshing Cool
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<span class="hotColdBody">
										Cool off anywhere in your home with quiet, cold comfort...
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<br/>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-8">
				<span class="armstrongHeader">
					Proudly selling and installing Armstrong products since 2002!
				</span>
			</div>
			<div class="col-md-4">
				<img src="/images/armstrong.png">
			</div>
		</div>
	</div>
</div>
<br/>
<br/>
