<div class="msm-home">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row" ng-cloak>
						<div class="col-md-10 col-md-offset-1">
							<img src="/images/us-map.gif">
							<div id="alabama">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Alabama')"
								>
									{{regionsData['Alabama']}}
								</span>
							</div>
							<div id="alaska">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Alaska')"
								>
									{{regionsData['Alaska']}}
								</span>
							</div>
							<div id="arizona">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Arizona')"
								>
									{{regionsData['Arizona']}}
								</span>
							</div>
							<div id="arkansas">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Arkansas')"
								>
									{{regionsData['Arkansas']}}
								</span>
							</div>
							<div id="california">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('California')"
								>
									{{regionsData['California']}}
								</span>
							</div>
							<div id="colorado">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Colorado')"
								>
									{{regionsData['Colorado']}}
								</span>
							</div>
							<div id="connecticut">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Connecticut')"
								>
									{{regionsData['Connecticut']}}
								</span>
							</div>
							<div id="delaware">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Delaware')"
								>
									{{regionsData['Delaware']}}
								</span>
							</div>
							<div id="florida">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Florida')"
								>
									{{regionsData['Florida']}}
								</span>
							</div>
							<div id="georgia">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Georgia')"
								>
									{{regionsData['Georgia']}}
								</span>
							</div>
							<div id="hawaii">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Hawaii')"
								>
									{{regionsData['Hawaii']}}
								</span>
							</div>
							<div id="idaho">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Idaho')"
								>
									{{regionsData['Idaho']}}
								</span>
							</div>
							<div id="illinois">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Illinois')"
								>
									{{regionsData['Illinois']}}
								</span>
							</div>
							<div id="indiana">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Indiana')"
								>
									{{regionsData['Indiana']}}
								</span>
							</div>
							<div id="iowa">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Iowa')"
								>
									{{regionsData['Iowa']}}
								</span>
							</div>
							<div id="kansas">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Kansas')"
								>
									{{regionsData['Kansas']}}
								</span>
							</div>
							<div id="kentucky">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Kentucky')"
								>
									{{regionsData['Kentucky']}}
								</span>
							</div>
							<div id="louisiana">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Louisiana')"
								>
									{{regionsData['Louisiana']}}
								</span>
							</div>
							<div id="maine">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Maine')"
								>
									{{regionsData['Maine']}}
								</span>
							</div>
							<div id="maryland">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Maryland')"
								>
									{{regionsData['Maryland']}}
								</span>
							</div>
							<div id="massachusetts">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Massachusets')"
								>
									{{regionsData['Massachusets']}}
								</span>
							</div>
							<div id="michigan">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Michigan')"
								>
									{{regionsData['Michigan']}}
								</span>
							</div>
							<div id="minnesota">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Minnesota')"
								>
									{{regionsData['Minnesota']}}
								</span>
							</div>
							<div id="mississippi">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Mississippi')"
								>
									{{regionsData['Mississippi']}}
								</span>
							</div>
							<div id="missouri">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Missouri')"
								>
									{{regionsData['Missouri']}}
								</span>
							</div>
							<div id="montana">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Montana')"
								>
									{{regionsData['Montana']}}
								</span>
							</div>
							<div id="nebraska">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Nebraska')"
								>
									{{regionsData['Nebraska']}}
								</span>
							</div>
							<div id="nevada">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Nevada')"
								>
									{{regionsData['Nevada']}}
								</span>
							</div>
							<div id="newHampshire">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('New Hampshire')"
								>
									{{regionsData['New Hampshire']}}
								</span>
							</div>
							<div id="newJersey">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('New Jersey')"
								>
									{{regionsData['New Jersey']}}
								</span>
							</div>
							<div id="newMexico">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('New Mexico')"
								>
									{{regionsData['New Mexico']}}
								</span>
							</div>
							<div id="newYork">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('New York')"
								>
									{{regionsData['New York']}}
								</span>
							</div>
							<div id="northCarolina">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('North Carolina')"
								>
									{{regionsData['North Carolina']}}
								</span>
							</div>
							<div id="northDakota">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('North Dakota')"
								>
									{{regionsData['North Dakota']}}
								</span>
							</div>
							<div id="ohio">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Ohio')"
								>
									{{regionsData['Ohio']}}
								</span>
							</div>
							<div id="oklahoma">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Oklahoma')"
								>
									{{regionsData['Oklahoma']}}
								</span>
							</div>
							<div id="oregon">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Oregon')"
								>
									{{regionsData['Oregon']}}
								</span>
							</div>
							<div id="pennsylvania">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Pennsylvania')"
								>
									{{regionsData['Pennsylvania']}}
								</span>
							</div>
							<div id="rhodeIsland">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Rhode Island')"
								>
									{{regionsData['Rhode Island']}}
								</span>
							</div>
							<div id="southCarolina">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('South Carolina')"
								>
									{{regionsData['South Carolina']}}
								</span>
							</div>
							<div id="southDakota">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('South Dakota')"
								>
									{{regionsData['South Dakota']}}
								</span>
							</div>
							<div id="tennessee">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Tennessee')"
								>
									{{regionsData['Tennessee']}}
								</span>
							</div>
							<div id="texas">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Texas')"
								>
									{{regionsData['Texas']}}
								</span>
							</div>
							<div id="utah">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Utah')"
								>
									{{regionsData['Utah']}}
								</span>
							</div>
							<div id="vermont">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Vermont')"
								>
									{{regionsData['Vermont']}}
								</span>
							</div>
							<div id="virginia">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Virginia')"
								>
									{{regionsData['Virginia']}}
								</span>
							</div>
							<div id="washington">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Washington')"
								>
									{{regionsData['Washington']}}
								</span>
							</div>
							<div id="westVirginia">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('West Virginia')"
								>
									{{regionsData['West Virginia']}}
								</span>
							</div>
							<div id="wisconsin">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Wisconsin')"
								>
									{{regionsData['Wisconsin']}}
								</span>
							</div>
							<div id="wyoming">
								<span 
									class="bigMapCount clickable"
									ng-click="showRegion('Wyoming')"
								>
									{{regionsData['Wyoming']}}
								</span>
							</div>
							<div 
								id="regionShowDetails"
								ng-if="showRegionDetails"
								ng-cloak
							>
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<div class="row">
											<div class="col-md-6 col-md-offset-2">
												<span class="showRegionHead">
													{{regionName}}
												</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 col-md-offset-2">
												<span class="showRegionDetails">
													{{regionSubscribersCount}}
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<br/>
